[submodule "sftp"]
	path = sftp/sftp
	url = git@github.com:atmoz/sftp.git
[submodule "sspanel-uim/SSPanel-Uim"]
	path = sspanel-uim/SSPanel-Uim
	url = https://github.com/Anankke/SSPanel-Uim
[submodule "sftp/sftp"]
	path = sftp/sftp
	url = https://github.com/atmoz/sftp
[submodule "cloudflared/cloudflared"]
	path = cloudflared/cloudflared
	url = git@github.com:cloudflare/cloudflared.git
