[submodule "sftp"]
	path = sftp/sftp
	url = https://github.com/atmoz/sftp.git
[submodule "sspanel-uim/SSPanel-Uim"]
	path = sspanel-uim/SSPanel-Uim
	url = https://github.com/Anankke/SSPanel-Uim
[submodule "sftp/sftp"]
	path = sftp/sftp
	url = https://github.com/atmoz/sftp
[submodule "cloudflared/cloudflared"]
	path = cloudflared/cloudflared
	url = https://github.com/cloudflare/cloudflared.git
[submodule "tor-privoxy/tor-privoxy"]
	path = tor-privoxy/tor-privoxy
	url = https://github.com/dockage/tor-privoxy
[submodule "vps-auto-change-ip"]
	path = vps-auto-change-ip
	url = https://github.com/justin-himself/vps-auto-change-ip
